@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-lightHover: #B0E4CC;
  --color-darkBorder: #183D3D;
  --color-darkTheme: #040D12;

  --color-primary: #408A71;
  
  --color-darkHover: #12544F;
  --color-hoverText: #B0E4CC;

  --color-secondary: #B0E4CC;

  --font-georama: 'Georama', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: georama;
}

@layer components {
  .logoLoop-icons {
    @apply text-secondary hover:text-white transition-colors ease-in-out duration-300
  }
}