@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #1c2536;
  --color-darkTheme: #101828;

  /* --font-Outfit: Outfit, sans-serif;
  --font-Ovo: Ovo, serif; */

  --font-georama: 'Georama', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: georama;
}